body {
  font-family: 'Roboto Mono', monospace;

}
.AceEditor{ 
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 20%;
  left: 0;
}
.button-black {
  background-color: rgb(36, 32, 32);
  border-color:  rgb(36, 32, 32);
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color:  rgb(36, 32, 32);
}
.button-black.button-clear {
  border-color: transparent;
}
.file-label {
  width: 15rem;
}
input[type=file].hidden {
  visibility: hidden;
  width: 15rem;
  margin-left: -15rem;
}