body {
  font-family: 'Roboto Mono', monospace;

}
.AceEditor{ 
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 20%;
  left: 0;
}
.button-black {
  background-color: rgb(102, 71, 75);
  border-color:  rgb(102, 71, 75);
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color:  rgb(102, 71, 75);
}
.button-black.button-clear {
  border-color: transparent;
}
.file-label {
  width: 15rem;
}
input[type=file].hidden {
  visibility: hidden;
  width: 15rem;
  margin-left: -15rem;
}

.c{
  position: relative;
  text-align: center;
  color: white
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
hr.new {
  border-top: 1px dashed rgb(102, 71, 75);
}