body {
  font-family: 'Roboto Mono', monospace;

}
.AceEditor{ 
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 20%;
  left: 0;
}
.button-black {
  background-color: #24527a;
  border-color:  #24527a;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color:  #24527a;
}
.button-black.button-clear {
  border-color: transparent;
}
.file-label {
  width: 15rem;
}
input[type=file].hidden {
  visibility: hidden;
  width: 15rem;
  margin-left: -15rem;
}

.c{
  position: relative;
  text-align: center;
  color: #24527a; 
}

.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
hr.new {
  border-top: 1px dashed rgb(102, 71, 75);
}

.img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.first-color { 
	background: #5dacbd; 
}
	
.second-color { 
	background: #24527a; 
}

.third-color { 
	background: #a7bcb9; 
}

.fourth-color { 
	background: #e0ebeb; 
}
a{
  color:#24527a
}
.button {
  background-color: #24527a;
  border-color:  #24527a;
}
.button.button-clear,
.button.button-outline {
  background-color: transparent;
  color:  #24527a;
}